// search
.search-box
  input
    color var(--lighten25TextColor) !important
    border-color var(--darken10BorderColor) !important
    background-color var(--bgColor) !important

    &:focus
      border-color var(--accentColor) !important

  .suggestions
    background var(--bgColor) !important
    border-color var(--darken10BorderColor) !important

  .suggestion
    a
      color var(--lighten35TextColor) !important

    &.focused
      background-color var(--darken10BgColor) !important

      a
        color var(--accentColor) !important

.algolia-search-wrapper
  .algolia-autocomplete
    .ds-dropdown-menu
      background var(--bgColor) !important
      border-color var(--searchBorderColor) !important

      &::before
        border-color var(--searchBorderColor) !important

      .ds-suggestion
        border-bottom-color var(--borderColor) !important

    // .algolia-docsearch-suggestion--highlight
    // color #2c815b
    .algolia-docsearch-suggestion
      border-color var(--borderColor) !important

      .algolia-docsearch-suggestion--category-header
        background var(--accentColor) !important
        // color #fff
        // .algolia-docsearch-suggestion--highlight
        // background rgba(255, 255, 255, 0.6)

      .algolia-docsearch-suggestion--title
        color var(--textColor) !important

      .algolia-docsearch-suggestion--subcategory-column
        border-color var(--borderColor) !important
        // background #f1f3f5

    .algolia-docsearch-footer
      border-color var(--borderColor) !important

    .ds-cursor .algolia-docsearch-suggestion--content
      // background-color #e7edf3 !important
      color var(--textColor) !important

.dropdown-wrapper
  .dropdown-title
    color var(--textColor) !important

  .nav-dropdown
    .dropdown-item
      h4
        border-top-color var(--kbdBgColor) !important

      a
        &:hover
          color var(--accentColor) !important

        &.router-link-active
          color var(--accentColor) !important

          &::after
            border-left-color var(--accentColor) !important

@media (max-width: $MQMobile)
  .dropdown-wrapper .dropdown-title:hover
    color var(--accentColor) !important

@media (min-width: $MQMobile)
  .dropdown-wrapper .dropdown-title .arrow
    border-top-color var(--arrowBgColor) !important

  .dropdown-wrapper .nav-dropdown
    background-color var(--bgColor) !important
    border-color var(--borderColor) !important

// home
.home
  .hero
    .description
      color var(--lighten40TextColor) !important

    .action-button
      // color #fff
      background-color var(--accentColor) !important
      border-bottom-color var(--darken10AccentColor) !important

      &:hover
        background-color var(--lighten10AccentColor) !important

  .features
    border-top-color var(--borderColor) !important

  .feature
    h2
      color var(--lighten10TextColor) !important

    p
      color var(--lighten25TextColor) !important

  .footer
    border-top-color var(--borderColor) !important
    color var(--lighten25TextColor) !important

// navbar
.navbar .site-name
  color var(--textColor) !important
  white-space nowrap !important

.navbar .links
  background var(--bgColor) !important

.nav-links a
  &:hover
  &.router-link-active
    color var(--accentColor) !important

    @media (min-width: $MQMobile)
      color var(--textColor) !important

@media (min-width: $MQMobile)
  .nav-item > a:not(.external)
    &:hover
    &.router-link-active
      border-bottom-color var(--accentColor) !important

// page-edit
.page-edit .edit-link a
.page-edit .last-updated .prefix
  color var(--lighten25TextColor) !important

// sidebar
.sidebar-heading
  color var(--textColor) !important

  &.clickable
    &.active
      color var(--accentColor) !important
      border-left-color var(--accentColor) !important

    &:hover
      color var(--accentColor) !important

a.sidebar-link
  color var(--textColor) !important

  &:hover
    color var(--accentColor) !important

  &.active
    color var(--accentColor) !important
    border-left-color var(--accentColor) !important
